header,
footer {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  text-align: center;
  background-color: antiquewhite;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  box-sizing: border-box;
  flex: 1;
}

.sidebar {flex-wrap: wrap;
  border: 2px solid black
  flex: 1;
}

.content {
  flex: 3;
  border: 2px solid black;
}